body,html{
    height: 100%;
    font:15px/1.8 "Lato", sans-serif;
    background-color: #997bb3;

}
.corpo{
    width:100%;
    height: 100%;
    font-size: 100%;
}

.historia{
    border: 2px solid rgb(128, 0, 255);
    border-radius: 5%;
    background-image: url(raiden/img/Forma_Taurus_Iracundus.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(228, 196, 255);
    background-color: rgba(34, 4, 100, 0.784);
    display: block;
    height: 900px;
    margin: 1px;
    margin-top: 5px;


}

.his1 {
    display: block;
    height: 900px;
    width: 80%;
    margin: contain;
    margin-top: 200px;
    position: relative;
    padding: 60px;
}

.his li {
    list-style: none;
    position: absolute;
}

.his input {
    display: none;
}

.his label {
    background-color: #000;
    bottom: 20px;
    cursor:all-scroll;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.his li:nth-child(1) label {
    top:800px;
    left: 10px;
}

.his li:nth-child(2) label {
    top:800px;
    left: 40px;
}
.his li:nth-child(3) label {
    top:800px;
    left: 70px;
}
.his li:nth-child(4) label {
    top:800px;
    left: 100px;
}
.his li:nth-child(5) label {
    top:800px;
    left: 130px;
}
.his li:nth-child(6) label {
    top:800px;
    left: 160px;
}
.his li:nth-child(7) label{
    top:800px;
    left: 190px;
}

.his div {
    opacity: 0;
    visibility: hidden;
}

.his li input:checked ~ div {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

div{
    display: inline-block;
}

.outros{
    background-color: rgb(228, 215, 250);
    border: #000 solid;
    width: 98%;
}

.loy{
    font-size: 100%;
    width: 100%;
}

.poi{
    margin: 10px;

}

.fotinha{
    height: 200px;
    width: 18%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    
}
.falas{
    height: 200px;
    width: 80%;
   
    right: 18%;
}
.r{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sara {
    position: absolute;
    top: 1100px;
   /* background-color: rgba(137, 43, 226, 0.599);*/
    
}
#fsara{
    background-image: url("im/Personagem_Kujou_Sara_miniatura\ \(1\).webp");
}
#isara{
    top:0px;
    float: left;
}


#raiden{
    position: absolute;
    top: 1311px; 
   /* background-color: rgba(147, 112, 216, 0.414); */
   
}
#fraiden{
    background-image: url("im/Personagem_Kamisato_Ayaka_miniatura.webp");
}
#iraiden{
    top:0px;
    float: left;
    
}

#sayu{
    position: absolute;
    top: 1512px;
   /* background-color: rgba(117, 117, 101, 0.548);*/
    
}
#fsayu{
    background-image: url("im/Personagem_Sayu_miniatura.webp");
}
#isayu{
    top:0px;
    float: left;
    
}

#thoma{
    position: absolute;
    top: 1713px;
   /* background-color: rgba(210, 105, 30, 0.437); */
    
}
#fthoma{
    background-image: url("im/Personagem_Kaedehara_Kazuha_miniatura.webp");
}
#ithoma{
    float: left;
}

#yoimiya{
    position: absolute;
    top: 1914px;
   /* background-color: rgba(238, 66, 19, 0.525);*/
    
}
#fyoimiya{
    background-image: url("im/Personagem_Yoimiya_miniatura.webp");
}
#iyoimiya{
    float: left;
}

#kuki{
    position: absolute;
    top: 2115px;
    /*background-color: rgba(158, 105, 169, 0.696);*/
    
}
#fkuki{
    background-image: url("im/Personagem_Kuki_Shinobu_miniatura.webp");
}
#ikuki{
    float: left;
}

#ayato{
    position: absolute;
    top: 2316px;
   /* background-color: rgba(213, 223, 255, 0.733);*/
    
}
#fayato{
    background-image: url("im/Kamisato_Ayato_Icon.webp");
}
#iayato{
    float: left;
}

#itto{
    position: absolute;
    top: 2517px;
   /* background-color: rgba(213, 223, 255, 0.733);*/
    
}

#itto a{
    text-decoration: none;
    color: #000;

}
#fitto{
    background-image: url("im/Personagem_Arataki_Itto_miniatura.webp");
}
#iitto{
    float: left;
}

#kokomi{
    position: absolute;
    top: 2718px;
   /* background-color: rgba(213, 223, 255, 0.733);*/
    
}
#fkokomi{
    background-image: url("im/Personagem_Sangonomiya_Kokomi_miniatura.webp");
}
#ikokomi{
    float: left;
}

#scara{
    position: absolute;
    top: 2919px;
   /* background-color: rgba(213, 223, 255, 0.733);*/
    
}
#fscara{
    background-image: url("im/Wanderer_Icon.webp");
}
#iscara{
    float: left;
}

#venti{
    position: absolute;
    top: 3120px;
   /* background-color: rgba(213, 223, 255, 0.733);*/
    
}
#fventi{
    background-image: url("im/Personagem_Venti_miniatura.webp");
}
#iventi{
    float: left;
}

#morax{
    position: absolute;
    top: 3321px;
   /* background-color: rgba(213, 223, 255, 0.733);*/
    
}
#fmorax{
    background-image: url("im/Personagem_Zhongli_miniatura.webp");
}
#imorax{
    float: left;
}

header{
    width: 100%;
    height: 100px;
    text-align: left;
    background-color: rgb(0, 0, 0);
    position: relative;
    
}    


.b{
    width: 65%;
    background-image: url("im/Namecard_Banner_Raiden_Shogun_Enlightenment.webp");
    background-repeat: no-repeat;
    opacity: 90%;
    background-size: cover;
    height: 100px;
    top: 0%;
    left: 35%;
    position: absolute;

    

}
.oi{
    width: 35%;
    right:65%;

    margin-top: 40px;
    padding-left: 20px;
}

.la{

    position: absolute;
    width: 100%;

}

.navi{
    overflow: hidden;
    top:10px;

}

.navi a{
    color: azure;
    padding: 10px;
    text-decoration: none;
    top: 50px;
    font-size: 20px;

}

.navi a:hover{
    color:#9e8700;
    background-color: black;
}