body,html{
    height: 100%;
    font:15px/1.8 "Lato", sans-serif;
    background-color: #baa383;
}

.tyo{
    width: 100%;
    

}
.yubi{
    margin: 10px;
    border: 2px solid rgb(58, 51, 40);
    border-radius: 15px;
    padding: 10px;
    background-image: url(/img/Forma_Taurus_Iracundus.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: bisque;
    background-color: rgba(34, 27, 18, 0.784);
}

.shinobu{
    width: 60%;
    height: 230px;
    background-color: bisque;
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    color:rgba(34, 27, 18, 0.784);
    border-radius: 25px;
    background-image: url(/img/ataque_normal.gif);
    background-size: contain;
    background-repeat: no-repeat;
}
#tks{
    padding: 15px;
}
#ks{
    text-align: right;
    padding-right: 15px; ;
}

.mad{
    display: block;
}

h2{
    display: block;
    position: relative;
    text-align: left;
    width: 60%;
    margin: 0px;
}

.rt{
    display: inline-block;
    padding: 10px;
    width: 60%;
    
}
.normal{
    display: inline-block;
    left: 65%;
    position: absolute;
    height: 200px;
    width: 25%;
    background-image: url(/img/ataque_normal.gif);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;

}


.carregado{
    display: inline-block;
    left: 65%;
    position: absolute;
    height: 200px;
    width: 25%;
    background-image: url(/img/carregado.gif);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 13px;

   

}
#id{
    size: cover;
}

.imersivo{
    display: inline-block;
    left: 65%;
    position: absolute;
    height: 200px;
    width: 25%;
    background-image: url(/img/imersivo.gif);
    background-size: contain;
    background-repeat: no-repeat;

}

.ushi{
    display: inline-block;
    left: 65%;
    position: absolute;
    height: 200px;
    width: 25%;
    background-image: url(/img/elemental.gif);
    background-size: contain;
    background-repeat: no-repeat;

}

.bah{
    display: inline-block;
    left: 65%;
    position: absolute;
    height: 200px;
    width: 25%;
    background-image: url(/img/supremo.gif);
    background-size: contain;
    background-repeat: no-repeat;

}


.iubi{
    margin: 10px;
    border: 2px solid rgb(58, 51, 40);
    border-radius: 15px;
    padding: 10px;
    background-image: url(/img/Forma_Taurus_Iracundus.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color:  rgba(34, 27, 18, 0.784);
    background-color: rgba(255, 234, 206, 0.784);
}

.kuki{
    width: 40%;
    height: 200px;
    background-color: rgba(34, 27, 18, 0.784);
    background-image: url(/img/elemental.gif);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    color:bisque;
    border-radius: 25px;
}
#tks{
    padding: 15px;
}
#ks{
    text-align: right;
    padding-right: 15px; ;
}

#rt{
    padding: 10px;
}

.emojii{
    height: 200px;
    width: 30%;
    background-image: url(/img/Icone_Emoji_Arataki_Itto_8.webp);
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin-top: 5px;
    background-position: center;
}

header{
    width: 100%;
    height: 100px;
    text-align: left;
    background-color: rgb(0, 0, 0);
    position: relative;
    
}  

body,html{
    height: 100%;
    margin:0;
    font:15px/1.8 "Lato", sans-serif;
    color: #777;
    background-color: #baa383;
}

.b{
    width: 65%;
    background-image: url(/img/Banner_Arataki_Itto_Cara_de_Oni.webp);
    background-repeat: no-repeat;
    opacity: 90%;
    background-size: cover;
    height: 100px;
    top: 0%;
    left: 35%;
    position: absolute;

    

}
.oi{
    width: 35%;
    right:65%;

    margin-top: 40px;
    padding-left: 20px;
}

.la{

    position: absolute;
    width: 100%;

}

.navi{
    overflow: hidden;
    top:10px;
    margin-left: 20px;
}

.navi a{
    color: azure;
    padding: 10px;
    text-decoration: none;
    top: 50px;
    font-size: 20px;

}

.navi a:hover{
    color:#9e8700;
    background-color: black;
}